{% extends 'oscar/catalogue/partials/product.html' %}

{% load image_tags %}
{% load flash_sale_tags %}


{% block product_image %}

    {% is_product_on_sale product as is_on_sale %}
    {% if is_on_sale %}
        {% include 'oscar/catalogue/partials/sale_icon.html' with is_small=True %}
    {% endif %}

    <div class="image_container">
        {% with image=product.primary_image %}
            {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail">
            </a>
        {% endwith %}
    </div>
{% endblock %}
